@{
    ViewData["Title"] = "About Us";
}

<div class="container mt-5">
    <h1>About Us</h1>
    <p>Welcome to our platform! We are a dedicated team committed to delivering the best experience for our users.</p>

    <h2>Our Mission</h2>
    <p>Our mission is to create value and make a difference in the lives of our customers by offering quality services.</p>

    <h2>Meet the Team</h2>
    <ul>
        <li>Bhushan Parkar</li>
        <li>Akash Verma </li>
        <li>Vaibhav Ghanghale</li>
    </ul>
</div>